footer {
    background-color: #3F0251;
    color: white;
    height: 220px;
    box-shadow: #3F0251 0 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
    border-top: 5px solid #3F0251;
}

footer:hover{
    border-top: 5px solid #3f02513f;
    background-color: #3F0251;
    box-shadow: #3F0251 0 0 100px;
    transition: 0.3s;
}

footer img {
    height: 200px;
    font-weight: 100;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.5));
    transition: 0.3s;
    /* margin-bottom: 10px; */
}

footer img:hover{
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.9));
    transform: scale(1.05);
    transition: 0.3s;
}

.c{
    font-size: 25px;
}

.mgcty{
    font-family: 'Griffy', cursive;
    font-weight: 100;
    font-size: 25px;
}

.redes-sociais {
    display: flex;
    justify-content: space-around;
    gap: 35px;
}

.redes-sociais i {
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 40px; 
    color:#ffffff;
}

.redes-sociais .fa-instagram:hover {
    color: #d61a43;
}

.redes-sociais .fa-facebook:hover {
    color: #1877F2;
}

.redes-sociais .fa-whatsapp:hover {
    color: #25D366;
}
