body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #895D93;
    overflow-x: hidden;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2); /* leve escurecimento */
    z-index: 900; /* menor que o sidebar (1000) */
    display: none; /* inicialmente escondido */
    cursor: pointer; /* indica que pode clicar para fechar */
  }

#btnTopo {
position: fixed;
bottom: 20px;
right: 20px;
display: none;
background: #fff;
color: #3F0251;
border: 3px solid #3F0251;
padding: 10px 15px;
border-radius: 50%;
cursor: pointer;
font-size: 23px;
transition: 0.3s;
}

#btnTopo:hover {
background: #3F0251;
border: 3px solid #fff;
color: #fff;
}

#btnTopo:active {
  background: #3F0251;
  border: 3px solid #fff;
  color: #fff;
  }

.hidden {
    display: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

/* largura da barra */
::-webkit-scrollbar {
    width: 10px;  /* vertical */
    height: 10px; /* horizontal */
    transition: 0.5s;
  }
  
  /* fundo da área do scrollbar */
  ::-webkit-scrollbar-track {
    background: #572063; /* cor de fundo */
    border-radius: 10px;
    transition: 0.5s;
  }
  
  /* parte que desliza */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #FBFF00, #FEFFB8);
    border-radius: 10px;
    border: 1px solid #0a0a0a; /* deixa um espaçamento */
    transition: 0.5s;
  }
  
  /* efeito hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #895D93, #FBFF00);
    transition: 0.5s;
  }
